!!! strict

html(lang="en", xmlns="http://www.w3.org/1999/xhtml", xmlns:fb="http://ogp.me/ns/fb#")
    head
        title StartLabs SGH | Home
        include includes/head
        script(type='text/javascript', src="/javascripts/home.js")
        include includes/analytics

    body
        include includes/top
        .modal.fade#permissionModal
            .modal-header
                a.close(data-dismiss='modal') x
                h3 Email Permissions Changed!
        .navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.brand(href='/home/')
                        | StartLabs SGH
                    ul.nav
                        li.active
                            a(href='/home/') Home
                        li
                            a(href='/ideas/search/') Search
                        li
                            a(href='/ideas/new/') Post
                        li
                            a(href='/contact/') Contact
                        li
                            a(href='/about/') About
        .container
            .row
                .span8
                    .well-light
                        h1 Recently Posted
                        -if (recentIdeas.length > 0)
                            -for idea in recentIdeas
                                .well
                                    a(href='/ideas/'+idea.id+'/') #{idea.title}
                                    p #{idea.description}
                        -else
                            | Gasp! There are no recently posted ideas.
                .span4
                    .well-light
                        h1 Your Account
                        h4 Name
                        | #{userInfo.first_name} #{userInfo.last_name}
                        //- h4 Email
                        //- | #{userInfo.email}
                        //- label.checkbox
                        //-     - if ((userInfo.shareEmail == true) || (userInfo.shareEmail == "true") || (userInfo.shareEmail == 1))
                        //-         input#emailPermission(type='checkbox', checked='true')
                        //-         | Share email with other users
                        //-     - else
                        //-         input#emailPermission(type='checkbox')
                        //-         | Share email with other users
                        h4 Team
                        -if (userInfo.team.length)
                            a(href='/ideas/'+userInfo.team.id+'/') #{userInfo.team.title}
                        -else
                            | none
                        h4 Shared Idea
                        -if (userInfo.ideas.length > 0)
                            -for idea in userInfo.ideas
                                a(href='/ideas/'+idea.id+'/') #{idea.title}
                                p
                        -else
                            | you have not posted any ideas yet.